.App {
  text-align: center;
  height: 100vh; 

  background: URL('./BBB.jpg') center center fixed; 
  background-size: cover;
  padding: 30px;
  font-style: italics; 
  font-family: italics; 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
  font-style: italics; 
  font-family: italics; 
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
