.Blog {
  color: black;
  padding: 100px;
  margin:10x auto;
  text-align: center;
  display: block;
}

.BlogEntry {
 border: 3px solid red;
 background: white;
 color: black;
 height: 10px;
 padding: 100px;
 margin: 10x  auto;
 text-align: center;
 color: black;

 margin-top: 100px;
}
