.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  color: green;
      text-decoration: none;
  a: black;
}


.SeachBar-options {
 color: white ;
}

.SearchBar-options ul {
  display: flex;
  justify-content: center;
  margin-bottom: 2.22rem;
}

.SearchBar-options li {
  cursor: pointer;
  width: 4.33rem;
  border-bottom: 1px solid #fff;
  padding: 0 2.58rem .33rem 2.58rem;
  line-height: 1.13;
  text-align: center;
  font-weight: 600;
  font-size: 1.0rem;
  color:black;
}

.SearchBar-options li:hover {
  color: red;
}

.SearchBar-options li.active,
.SearchBar-options li.active:hover {
  border-bottom: 1px solid #f0c36c;
  color: red ;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 2.88rem;
}

.SearchBar-fields input {
  width: 21rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: .77rem;
  font-weight: 500;
}

